/* Error: Expected identifier.
 *    ,
 * 17 |     .col--#($var1){
 *    |            ^
 *    '
 *   scss\utilidades\_variables.scss 17:12  @import
 *   scss\layout\_header.scss 1:9           @import
 *   scss\main.scss 2:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 17 \2502      .col--#($var1){\d\a    \2502             ^\a    \2575 \a   scss\\utilidades\\_variables.scss 17:12  @import\a   scss\\layout\\_header.scss 1:9           @import\a   scss\\main.scss 2:9                     root stylesheet";
}
