* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

header {
  background-color: grey;
}

.nav li a {
  text-decoration: none;
}
.nav__menu_secundario {
  font-size: 1rem;
}
.nav__menu_primario {
  background-color: black;
}

@media screen and (min-width: 576px) {
  .nav__menu_secundario {
    font-size: 1.2rem;
  }
  .nav__menu_primario {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .nav__menu_secundario {
    font-size: 1.5rem;
  }
  .nav__menu_primario {
    font-size: 1.7rem;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

.footer ul {
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__lista__titulo {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}
.footer__info {
  font-family: "Mukta", sans-serif;
  font-size: 0.9rem;
}
.footer span {
  font-weight: 800;
}
.footer__redes {
  font-size: 2rem;
}
.footer p {
  font-family: "Mukta", sans-serif;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .footer__soporte {
    font-size: 0.9rem;
  }
  .footer__mp {
    font-size: 0.9rem;
  }
  .footer li {
    padding-top: 2px;
  }
  .footer__redes {
    padding-top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .footer__soporte {
    font-size: 1.2rem;
  }
  .footer__mp {
    font-size: 1.2rem;
  }
  .footer__lista__titulo {
    font-size: 1.5rem;
  }
  .footer__info {
    font-size: 1.1rem;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

.marcas {
  overflow-x: scroll;
}
.marcas__logo {
  filter: grayscale(1);
  transition: filter 0.5s;
}
.marcas__logo:hover {
  filter: grayscale(0);
}

@media screen and (min-width: 1024px) {
  .marcas {
    overflow-x: hidden;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

.titulo_de_pagina {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 10px;
}

.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

#ofertas_del_mes {
  background-color: rgb(71, 71, 71);
  display: flex;
}
#ofertas_del_mes__div_titulo h2 {
  font-size: 2.5rem;
}
#ofertas_del_mes__div_titulo h2 span {
  text-shadow: 2px 2px 2px black;
}
#ofertas_del_mes__div_articulos {
  overflow-x: scroll;
  overflow-y: hidden;
}

#redes_index a {
  transition: all 0.5s;
}
#redes_index a:hover {
  transform: scale(1.1, 1.1);
  z-index: 2;
}
#redes_index .wallpaper {
  height: 100%;
  width: 100%;
}

#proximamente .wallpaper {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#galeria {
  display: grid;
  background-color: rgb(71, 71, 71);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
  margin: 0px;
  padding: 0px;
}
#galeria img {
  width: 100%;
  height: 100%;
}
#galeria .img1 {
  grid-area: img1;
}

@media screen and (min-width: 600px) {
  #ofertas_del_mes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #ofertas_del_mes__div_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ofertas_del_mes h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  #ofertas_del_mes {
    grid-template-columns: 2fr 3fr;
  }
  #ofertas_del_mes__div_articulos {
    overflow-x: hidden;
  }
  .articulo__ofertas_del_mes {
    width: 15vw;
  }
  .articulo__ofertas_del_mes img {
    width: 12vw;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

.productos__div__ofertas_del_mes, .productos__div__articulos {
  border-radius: 20px;
  box-shadow: 0px 5px 7px black;
  font-family: "Bebas Neue", cursive;
  transition: all 0.5s;
}
.productos__div__ofertas_del_mes h3, .productos__div__articulos h3 {
  font-size: 1.3rem;
}
.productos__div__ofertas_del_mes p, .productos__div__articulos p {
  font-size: 1.1rem;
}
.productos__div__ofertas_del_mes:hover, .productos__div__articulos:hover {
  transform: scale(1.1, 1.1);
  z-index: 2;
}
.productos__div__ofertas_del_mes span, .productos__div__articulos span {
  text-decoration: line-through 2px;
}

@media screen and (min-width: 600px) {
  .productos__div__ofertas_del_mes, .productos__div__articulos {
    border-radius: 20px;
    box-shadow: 0px 5px 7px black;
    font-family: "Bebas Neue", cursive;
  }
  .productos__div__ofertas_del_mes h3, .productos__div__articulos h3 {
    font-size: 1.7rem;
  }
  .productos__div__ofertas_del_mes p, .productos__div__articulos p {
    font-size: 1.3rem;
  }
}
.categorias_opciones {
  background-color: rgb(71, 71, 71);
  overflow-x: scroll;
  overflow-y: hidden;
}
.categorias_opciones__img {
  border-radius: 10px;
}

.productos {
  background-color: rgb(71, 71, 71);
}
.productos h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  color: white;
  font-weight: 200;
}
.productos__categoria {
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (min-width: 600px) {
  .productos h2 {
    font-size: 2.6rem;
  }
}
@media screen and (min-width: 1024px) {
  .categorias_opciones {
    overflow-x: hidden;
  }
  .categorias_opciones__img {
    transition: all 0.5s;
  }
  .categorias_opciones__img:hover {
    transform: scale(1.1, 1.1);
  }
  .productos__categoria {
    overflow-x: hidden;
    flex-wrap: wrap;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

#contacto_sect {
  background-color: rgb(71, 71, 71);
}
#contacto_sect h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.7rem;
}
#contacto_sect .formulario {
  background-color: white;
}
#contacto_sect .formulario label {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}

.otros_contactos {
  background-color: white;
}
.otros_contactos__redes {
  font-family: "Bebas Neue", cursive;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px black;
}
.otros_contactos__redes i {
  color: red;
  font-size: 1.5rem;
}
.otros_contactos__llamanos {
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px black;
  font-family: "Bebas Neue", cursive;
}
.otros_contactos__llamanos h2 {
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
}
.otros_contactos__llamanos p {
  font-size: 1.3rem;
}
.otros_contactos__subtitulo {
  font-size: 1.2rem;
  font-family: "Bebas Neue", cursive;
}
.otros_contactos__ubicacion {
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px black;
  font-family: "Bebas Neue", cursive;
}

@media screen and (min-width: 480px) {
  #contacto_sect {
    background-color: rgb(71, 71, 71);
  }
  .otros_contactos {
    visibility: visible;
  }
}
@media screen and (min-width: 600px) {
  .otros_contactos__llamanos h2 {
    font-size: 1.5rem;
  }
  .otros_contactos__ubicacion h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .otros_contactos__redes h2 {
    font-size: 1.8rem;
  }
  .otros_contactos__llamanos h2 {
    font-size: 1.8rem;
  }
}
.tex-prim {
  font-family: "Bebas Neue", cursive;
}

.tex-secu {
  font-family: "Mukta", sans-serif;
}

.color-blanco {
  color: white;
}

.color-secu {
  color: red;
}

.color-fondo {
  color: rgb(71, 71, 71);
}

.color-negro {
  color: black;
}

.color-gris {
  color: grey;
}

/*# sourceMappingURL=styles.css.map */
