@import "../utilidades/variables";
@import "../componentes/tarjeta_producto";

.categorias_opciones{
    background-color: $color-fondo;
    overflow-x: scroll;
    overflow-y: hidden;
    &__img{
      border-radius: 10px;
    }
  }
  .productos{
    background-color: $color-fondo;
    h2{
      font-family: $letra-principal;
      font-size: 1.8rem;
      color: $color-blanco;
      font-weight: 200;
    }
    &__categoria{
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
  @media screen and (min-width: 600px) {
    .productos{
      h2{
        font-size: 2.6rem;
      }
      }
    }
    @media screen and (min-width: 1024px)  {
      .categorias_opciones{
        overflow-x: hidden;
        &__img{
          transition: all 0.5s;
          &:hover{
            transform: scale(1.1, 1.1);
          }
        }
      }
      .productos__categoria{
        overflow-x: hidden;
        flex-wrap: wrap;
      }
    }