@import "../componentes/titulos";
@import "../utilidades/variables";


.index_video_portada{
    width: 100%;
    &__video{
      width: 100%;
    }
  }
  
  #ofertas_del_mes{
    background-color: $color-fondo;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    &__div_titulo{
      width: 100%;
      display: flex;
      justify-content: center;
      h2{
        font-family: $letra-principal;
        font-size: 2.2rem;
        text-align: center;
        span{
          color: $color-secundario;
          text-shadow: 2px 2px 2px $color-negro;
        }
      }
    }
    &__div_articulos{
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }
  #redes_index{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 1fr 1fr;
    a{
      transition: all 0.5s;
      &:hover{
        transform: scale(1.1, 1.1);
        z-index: 2;
      }
    }
    .wallpaper{
      height: 100%;
      width: 100%;
    }
  }
  #proximamente .wallpaper{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  #galeria{
    background-color: $color-fondo;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    grid-template-areas: "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    img{
      width: 100%;
    }
    .img1{
      grid-area: img1; 
    }
  }
  @media screen and (min-width: 600px) {
    #ofertas_del_mes{
      display: grid;
      grid-template-columns: 1fr 1fr;
      &__div_titulo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2{
        font-size: 3rem;
        text-align: center;
      }
    }
    #redes_index{
      display: flex;
    }
  }
  @media screen and (min-width: 1024px)  {
    #ofertas_del_mes{
      grid-template-columns: 2fr 3fr;
      &__div_articulos{
        overflow-x: hidden;
      }
    }
    .articulo__ofertas_del_mes{
      width: 15vw;
    }
    .articulo__ofertas_del_mes img{
      width: 12vw;
    }
  }