@import "../utilidades/variables";

.footer{
    ul{
      list-style: none;
    }
    li{
      font-family: $letra-secundaria;
    }
    a{
      text-decoration: none;
      color: $color-blanco;
    }
    &__lista__titulo{
      font-family: $letra-principal;
        font-size: 1.3rem;
    }
    &__info{
      font-family: $letra-secundaria;
      font-size: 0.9rem;
    }
    span{
      font-weight: 800;
    }
    &__redes{
      font-size: 2rem;
    }
    p{
      font-family: $letra-secundaria;
      font-size: .8rem;
      text-align: center;
    }
  }
  $redes : (
    instagram: rgb(255, 0, 140),
    whatsapp: rgb(0, 196, 0),
    facebook: rgb(31, 31, 252),
  );
@each $red, $color in $redes {
  .bi-#{$red}:hover{
    color: $color;
  }
}

  @media screen and (min-width: 480px) {
    .footer{
      &__soporte{
        font-size: .9rem;
      }
      &__mp{
        font-size: .9rem;
      }
      li{
        padding-top: 2px;
      }
      &__redes{
        padding-top: 5px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .footer{
      &__soporte{
        font-size: 1.2rem;
      }
      &__mp{
        font-size: 1.2rem;
      }
      &__lista__titulo{
        font-size: 1.5rem;
      }
      &__info{
        font-size: 1.1rem;
      }
    }
  }
