header{
    background-color: gray;
    width: 100%;
    nav{
        display: grid;
        grid-template-rows: 2fr 30px 40px;
        .logo_header{
            width: 100%;
          }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: white;
              }
        }
      }
  }
  .menu_secundario{
    font-family: 'Mukta', sans-serif;
    font-size: 0.9rem;
    align-items: center;
  }
  .menu_primario{
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    align-items: center;
    height: 100%;
  }
