@import "../utilidades/variables";

.marcas{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px;
    &__logo{
      width: 30vw;
      margin: 0px 10px;
      filter: grayscale(1);
      transition: filter 0.5s;
      &:hover{
        filter: grayscale(0);
      }
    }
  }
@media screen and (min-width: 600px) {
  .marcas__logo{
    width: 20vw;
  }
}
@media screen and (min-width: 1024px)  {
  .marcas{
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    &__logo{
      width: 15vw;
    }
  }
}