@import "../utilidades/variables";

.marcas{
    overflow-x: scroll;
    &__logo{
      filter: grayscale(1);
      transition: filter 0.5s;
      &:hover{
        filter: grayscale(0);
      }
    }
  }
@media screen and (min-width: 1024px)  {
  .marcas{
    overflow-x: hidden;
  }
}