@mixin disp($justify, $align, $flow) {
    justify-content: $justify;
    align-items: $align;
    flex-flow: $flow;
}

$displays: (
    fl: flex,
    gr: grid
);

@each $var1, $var2 in $displays {
    .d-#{$var1} {
        display: $var2;
        }
    }



