$color-fondo:  rgb(71, 71, 71);
$color-secundario: red;
$color-negro: black;
$color-blanco: white;
$color-gris: grey;

$letra-principal: "Bebas Neue", cursive;
$letra-secundaria: "Mukta", sans-serif;

$letras: (
    prim: $letra-principal,
    secu: $letra-secundaria
);

$colores: (
    blanco: $color-blanco,
    secu: $color-secundario,
    fondo: $color-fondo,
    negro: $color-negro,
    gris: $color-gris,
    rojo: red,
    azul: blue,
    gris-claro: rgb(126, 126, 126),
    gris-oscuro: rgb(58, 58, 58)
);


@each $var1, $var2 in $letras {
    .tex-#{$var1}{
        font-family: $var2;
    }
}
@each $var1, $var2 in $colores {
    .color-#{$var1}{
        color: $var2;
    }
}