$color-fondo:  rgb(71, 71, 71);
$color-secundario: red;
$color-negro: black;
$color-blanco: white;
$color-gris: grey;

$letra-principal: "Bebas Neue", cursive;
$letra-secundaria: "Mukta", sans-serif;
