$color-fondo:  rgb(71, 71, 71);
$color-secundario: red;
$color-negro: black;
$color-blanco: white;
$color-gris: grey;

$letra-principal: "Bebas Neue", cursive;
$letra-secundaria: "Mukta", sans-serif;

$colores: (
    ngr: black,
    blc: white,
    rj: red,
);

@each $var1, $var2 in $colores {
    .col--#($var1){
        color: $var2;
    }
}